* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0px 32px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 14px;
    font-weight: 400;
}

nav ul li a:hover {
    color: #7DB9E8;
    transition: 0.3s;
}

/* Add Button */
.add-btn{
    font-size: 15px;
    padding: 1px 8px;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
}

.add-btn a{
    color: white;
    text-decoration: none;
}

.add-btn:active{
    background-color: black;
    border: 1px solid black;
}


/* Section 1 */
.section1 {
    width: 100%;
    padding: 200px 0px;
    background-image: url(../Images/section1-bgimg.webp);
}

.sec1-div1 {
    color: white;
    background-color: #fc6428;
    padding: 20px 0px;
    font-size: 36px;
    width: 500px;
    text-align: center;
    font-weight: 500;
    position: relative;
    margin: auto;
}

.sec1-div1-in {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 22px 14px 0 14px;
    border-color: #fc6428 transparent transparent transparent;
    position: absolute;
    left: 230px;
    bottom: -20px;
}

.sec1-text-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.sec1-fortext {
    width: 65%;
}

.sec1-forimg {
    width: 30%;
}

.sec1-p1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
}

.sec1-p2 {
    color: white;
    font-size: 36px;
    padding: 25px 0px;
    font-weight: 300;
}

.sec1-p3 {
    color: white;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .32px;
}

.sec1-fortext-lists {
    margin-top: 2rem;
    width: 420px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sec1-fortext-list {
    width: 200px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.sec1-fortext-list i {
    margin-right: 5px;
}

.sec1-btn {
    color: white;
    background-color: #fc6428;
    margin: 75px 0px 0px;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 75px;
    border: 1px solid #fc6428;
}


.sec1-btn:hover {
    cursor: pointer;
    background-color: #d85420;
    border: 1px solid #d85420;
    transition: .3s;
}


/* Section 2 */
.section2{
    width: 100%;
    padding: 100px 0px;
}

.sec2-in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec2-p1{
    color: #424242;
    font-size: 35px;
    margin: 0px 0px 40px;
    padding: 0px 0px 20px;
    font-weight: 300;
    position: relative;
}

.sec2-p1::after{
    content: "";
    width: 60px;
    height: 2px;
    background: #424242;
    position: absolute;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sec2-p2{
    color: #6B6D6F;
    margin: 0px 292.5px;
    text-align: center;
}

.sec2-boxs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 30px;
}

.sec2-box{
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    padding: 10px;
    background-color: #F9FaFF;
    position: relative;
}

.sec2-box .bi-heart-fill{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
}

.sec2-box .bi-heart-fill:active{
    color: red;
}

.sec2-box-p1{
    color: #424242;
    font-size: 18px;
    padding: 25px 0px 18px;
    font-weight: 500;
}

.sec2-box-p2{
    color: #6B6D6F;
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
}

.sec2-box-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

.sec2-box-btns button{
    font-size: 15px;
    padding: 3px 5px;
    color: white;
    background-color: #337AB7;
    border: 1px solid #337AB7;
}

.sec2-box-btns button a{
    color: white;
    text-decoration: none;
}

.sec2-box-btns button:hover{
    cursor: pointer;
    background-color: #1368b3;
    border: 1px solid #1368b3;
}

.sec2-box-btns button:active{
    background-color: #003d73;
    border: 1px solid #003d73;
}

/* Load More Button */
.sec2-lm-btn{
    font-size: 20px;
    padding: 8px 30px;
    margin-top: 3rem;
    color: white;
    background-color: purple;
    border: none;
}

.sec2-lm-btn:hover{
    cursor: pointer;
    background-color: rgb(101, 0, 101);
    box-shadow: 0px 0px 10px black;
    transition: .3s;
}

.sec2-lm-btn:active{
    background-color: rgb(69, 0, 69);
}

/* Section 3 */
.section3{
    width: 100%;
    padding: 30px 0px 100px 0px;
    background-color: #7db9e8;
}

.sec3-in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec3-div1{
    color: white;
    font-size: 35px;
    margin: 0px 0px 40px;
    padding: 0px 0px 20px;
    font-weight: 300;
    margin-top: 5rem;
    position: relative;
}

.sec3-div1-in{
    content: "";
    width: 60px;
    height: 2px;
    background: white;
    position: absolute;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sec3-p1{
    color: white;
    font-size: 14px;
    margin: 0px 292.5px;
    line-height: 26px;
    letter-spacing: .28px;
    max-width: 555px;
    text-align: center;
    font-weight: 400;
}

.sec3-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.sec3-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sec3-icon i{
    color: #7DB9E8;
    padding: 5px 11px;
    font-size: 36px;
    border-radius: 9999px;
    border: 1px solid white;
    outline: 5px solid #FFFFFF80;
    background-color: white;
}

.sec3-icon-p1{
    color: white;
    font-size: 30px;
    padding: 0px 0px 3px;
    font-weight: bold;
}

.sec3-icon-p2{
    color: white;
    font-size: 18px;
}


/* Section 4 */
.section4{
    width: 100%;
    padding: 100px 0px;
}

.sec4-in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec4-div1{
    color: #424242;
    font-size: 35px;
    margin: 0px 0px 40px;
    padding: 0px 0px 20px;
    font-weight: 300;
    position: relative;
}

.sec4-div1-in{
    content: "";
    width: 60px;
    height: 3px;
    background: #424242;
    position: absolute;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sec4-p1{
    max-width: 555px;
    color: #6B6D6F;
    font-size: 14px;
    margin: 0px 192.5px;
    line-height: 26px;
    letter-spacing: .28px;
    text-align: center;
}

.sec4-boxs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.sec4-box{
    width: 30%;
    border: 1px solid #e8e8e8;
    overflow: hidden;
}

.sec4-box img{
    width: 100%;
}

.sec4-box img:hover{
    transform: scale(1.05);
    overflow: hidden;
    transition: .3s;
}

.sec4-box-fortext{
    padding: 30px 30px 40px;
}

.sec4-box-p1{
    color: #424242;
    font-size: 18px;
    padding: 0px 0px 15px;
    font-weight: 400;
    cursor: pointer;
}

.sec4-box-p2{
    color: #6B6D6F;
    font-size: 14px;
    line-height: 26px;
    max-width: 280px;
    font-weight: 500;
}


/* Footer */
.footer{
    width: 100%;
    padding: 40px 0px;
    background-color: #F9FaFF;
}

footer{
    text-align: center;
}

.footer-p1{
    color: #6B6D6F;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .32px;
    font-family: sans-serif;
}

.footer-p1-span{
    color: #337AB7;
}

.footer-p1-span:hover{
    cursor: pointer;
    color: #005197;
}